/*header > *, main > *{
    display: flex;
    flex-direction: column;
}


*/
.darkZone{
    color: rgb(220, 228, 242);
    background-color: rgb(10, 44, 89);
}

.lightZone{
    color: rgb(10, 44, 89);
    background-color: rgb(220, 228, 242);
}


.lightZone h1{
    font-size: 38px;
    border-bottom: 2px solid rgb(10, 44, 89);
}

.darkZone h1{
    font-size: 38px;
    border-bottom: 2px solid rgb(220, 228, 242);
}

.lightZone section section h1{
    border: 0;
    font-size: 20px;
}

@font-face {
    font-family: "Sensation_Regular";
    src: url('../sansation/Sansation_Regular.ttf') format('truetype');
}

header span{
    font-size: 38px;
    font-family: Sensation_Regular;
}