/*header > *, main > *{
    display: flex;
    flex-direction: column;
}


*/
.darkZone{
    color: rgb(220, 228, 242);
    background-color: rgb(10, 44, 89);
}

.lightZone{
    color: rgb(10, 44, 89);
    background-color: rgb(220, 228, 242);
}
